html {
     height: 100%; 
     font-size: 100%;
 }
 
 body {
     font-family: 'Open Sans'; 
     color: grey;             
     min-height: 100%; 
     margin: 0;
 }

 .navbar {
     display: grid;
     grid-template-columns: 1fr 1fr;
     padding: 1rem;
     background-color: rgb(122, 110, 110, 0.87);
     z-index: 1;
 }

 .logo {
     display: grid;
     height: 65%;
 }

 nav img {
    color: #4C7A61;
 }

.nav-library{
     display: grid;
}

/* ------------   Landing Page ------------*/

 .hero{
    position: relative; 
    min-height: 600px;
    background-image: url('guitar.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hero .hero-title{
    position: absolute;             
    top: 20%;                       
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50);
    width: 100%;                    
    text-align: center;
    font-size: 4rem;             
    font-weight: 300;               
    text-transform: uppercase;      
    letter-spacing: 0.4rem;         
    text-shadow: 1px 1px 0px rgb(58,23,63);  
}


/*-----------   Library ------  */

.library-container{
     display: grid;
     grid-template-columns: 20% 20% 20% 20%;
     grid-template-rows: 20% 20% 20% 20%;
     grid-gap: 20px;
     margin: 20px;
     background-color: #fff;
     color: #444;
     justify-content: center;
     align-items: center;
}

.album-collection-container{
     display: grid;
     background-color: #444;
     color: #fff;
     border-radius: 5px;
     padding: 20px;
     font-size: 1.5rem;
     justify-content: center;
     align-items: center;
}

.album-collection-container img{
    height: 150px;
    width: auto;
}

/* ---------- Main Page -----------  */

.player{
    background-image: url("blur.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.main-top{
   display: grid;
   grid-gap: 20px;
   justify-content: center;
   align-items: center;
   grid-template-columns: 1fr 1fr;
}

.album-art{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem;
}

.album-details{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-top img{
    height: 210px;
    width: auto;
}

.album-list{
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.each-song{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


/* ----------Playback section------------  */

.control-container {
    display: grid;
    grid-gap: 10rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.seek-bar-length .fill {
    background-color: white;
    width: 100%;
    height: .25rem;
    border-radius: 2px;
} 

.seek-bar-volume .fill {
    background-color: white;
    width: 30%;
    height: .25rem;
    border-radius: 2px;
}

#pauseIcon {
    display: none;
}

.seek-bar-length {
    height: 0.25rem;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    position: relative;
    cursor: pointer;
}

.seek-bar-length:hover .thumb {
    height: 1.1rem;
    width: 1.1rem;
    margin-top: -0.5rem;
    margin-left: -0.5rem;  
}

.seek-bar-length .thumb {
    position: absolute;
    height: 0.5rem;
    width: 0.5rem;
    background-color: white;
    margin-top: .25rem;
    margin-left: .25rem; 
    border-radius: 50%;
    cursor: pointer;
}