html {
     height: 100%; 
     font-size: 100%;
 }
 
 body {
     font-family: 'Open Sans'; 
     color: grey;             
     min-height: 100%; 
     margin: 0;
 }

 .navbar {
     position: relative;
     padding: 0.5rem;
     background-color: rgba(91, 48, 247, 0.87);
     z-index: 1;
 }